@font-face {
  font-family: Gotham-black;
  src: url(./Typsnitt/Gotham-Black.otf);
}

@font-face {
  font-family: Gotham-bold;
  src: url(./Typsnitt/Gotham-Bold.otf);
}

@font-face {
  font-family: Gotham-book;
  src: url(./Typsnitt/Gotham-Book.otf);
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.bg-color {
  transition: all 1s;
  background-color: #00aeef;
  border-bottom: 1px solid #778899;
  z-index: 10;
  height: 70px;
}

.head {
  height: 100vh;
  width: 100%;
  background-image: url("./images/background\ image.jpg");
  background-blend-mode: overlay;
  background-position: bottom;
  border: 1px solid #707070;
  background-size: cover;
}

.navbar {
  padding: 0rem 3rem !important;
}

.navbar-nav li a {
  font-family: Gotham-bold;
  font-size: 24px;
}

.fa-bars {
  color: white;
  font-size: 35px !important;
}

.offcanvas.offcanvas-end {
  max-width: 80%;
}

.hero {
  margin: 200px 0px;
}

.hero h1 {
  font-family: Gotham-black;
  font-size: 60px;
  color: white;
}

.hero p {
  font-family: Gotham-book;
  font-size: 25px !important;
  color: white;
}

.hero .btn {
  background-color: #001e46;
  font-family: Gotham-black;
  font-size: 18px;
  color: white;
}

.hero .btn:hover {
  background-color: #001e46 !important ;
  color: white !important ;
  opacity: 0.8 !important;
}

.details h2 {
  font-family: Gotham-black;
  font-size: 55px;
  color: #001e46;
}

.details p {
  font-family: Gotham-book;
  font-size: 25px;
  line-height: 40px;
  color: #001e46;
}
.details label {
  font-family: Gotham-book;
  font-size: 22px;
}

.details select {
  font-family: Gotham-book;
  font-size: 20px;
  color: grey;
  border-color: grey;
}

.section-1 {
  background-color: #001e46 !important;
  height: fit-content;
}
.section-2 {
  background-color: #00aeef;
  padding: 30px 20px;
  height: 150px !important;
}

.section-1 h2 {
  font-family: Gotham-bold;
  font-size: 30px;
  position: relative;
}

.section-1 h3 {
  font-family: Gotham-bold;
  font-size: 25px;
}

.section-1 p {
  font-family: Gotham-book;
  font-size: 17px;
  height: 60px;
  line-height: 25px;
}

.section-1 li {
  font-family: Gotham-book;
  font-size: 17px;
  line-height: 30px;
}

.section-1 h2 p {
  color: #00aeef;
  position: absolute;
  top: 0px;
  right: 20px;
  margin: 0% !important;
  padding: 0% !important;
}

.section-1 button {
  padding: 10px;
  font-family: Gotham-black;
  font-size: 15px;
  color: #001e46;
}

.section-1 button:hover {
  background-color: #00aeef !important;
  color: #001e46 !important;
}

.section-2 h2 {
  font-family: Gotham-black;
  font-size: 40px;
}

.section-2 p {
  font-family: Gotham-book;
  font-size: 15px;
  color: #001e46;
}

.section-2 h3 {
  font-size: 30px;
}
.car-image {
  background-image: url("./images/Header_Parking-scaled-e1720526773331.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  background-size: cover;
  background-color: #001e469a;
  background-blend-mode: multiply;
  height: 500px;
}
.operator h2 {
  font-family: Gotham-black;
  font-size: 55px;
}

.operator .btn {
  background-color: #00aeef;
  font-family: Gotham-black;
  font-size: 18px;
}
.operator .btn:hover {
  background-color: #00aeef;
  opacity: 0.7 !important;
}

.footer {
  background-color: #001e46;
}

.footer h5 {
  font-family: Gotham-bold;
}

.footer .nav-item {
  font-family: Gotham-book;
}

.footer .nav-item:hover {
  text-decoration: underline !important;
  color: white;
}

.sub-footer .nav-link {
  color: #001e46;
  font-family: Gotham-book;
}

.sub-footer p {
  color: #001e46;
  font-family: Gotham-book;
}

@media screen and (max-width: 576px) {
  .navbar {
    padding: 0rem !important;
  }
  .head .nav-item a {
    color: #001e46 !important;
  }

  .nav-item .active {
    color: red !important;
  }
  .navbar-brand img {
    position: fixed;
    top: 3rem;
    left: 3rem;
  }

  .fa-bars {
    position: fixed;
    top: 3rem;
    right: 3rem;
  }
  .bg-color {
    height: 100px;
  }
  .hero {
    margin-bottom: 100px;
  }
  .head {
    height: fit-content;
  }
  .details h2 {
    font-size: 45px;
  }
  .details p {
    font-size: 22px;
  }

  .section-2 h3 {
    font-size: 25px;
  }

  .section-1 {
    height: fit-content;
  }

  .section-1 h2 p {
    right: 0px;
    font-size: 15px;
  }

  .section-1 p {
    font-size: 15px;
    height: auto;
  }

  .section-1 li {
    font-size: 15px;
  }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .navbar {
    padding: 0rem !important;
  }
  .head .nav-item a {
    color: #001e46 !important;
  }

  .nav-item .active {
    color: red !important;
  }
  .navbar-brand img {
    position: fixed;
    top: 3rem;
    left: 6rem;
  }

  .fa-bars {
    position: fixed;
    top: 3rem;
    right: 6rem;
  }
  .bg-color {
    height: 100px;
  }
  .hero {
    margin-bottom: 100px;
  }
  .head {
    height: fit-content;
  }

  .section-1 p {
    font-size: 18px;
    height: auto;
    line-height: 35px;
  }

  .section-1 li {
    font-size: 18px;
    line-height: 35px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .hero {
    margin-bottom: 100px;
  }
  .head {
    height: fit-content;
  }
}


